/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@font-face{
    font-family: "Goldman";
    src: url(fonts/Goldman-Regular.ttf);
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: "Goldman";
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.ColorButton{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 8px;
}
.Win{
    border: 1px solid;
    padding: 1px;
    width: 60vw;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background: #00ff37;
    color: black;
    font-family: cursive;
    height: 60vw;
    border-radius: 50%;
    line-height: 3;
    font-size: 18px !important;
}
.Loose{
    border: 1px solid;
    padding: 1px;
    width: 80vw;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background: red;
    color: white;
    font-family: cursive;
}
.Header{
    padding: 4px;
    text-align: center;
    font-size: medium;
    color: white;
}
.CardBg{
    background-color: #bc2fd4 !important;
    color: black !important;
    min-height: calc(100vh - 16px);
}
.ask{
    background: chartreuse;
    border-radius: 50%;
    padding: 6px;
}
.colorWanted{
    border: dashed;
    border-radius: 4px;
    padding: 8px;
    color: black;
}

.button {
    
    outline: none;
  }
  
  .button:active {
    transform: translateY(4px);
  }

 